<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" />
    <title>My Permalist upgraded</title>
</head>

<body>
    <div class="container">
        <div class="todo">
            <h1><img src="assets/icons/to-do-list.png" alt="todolist image" height="32px" width="auto"> To-Do Bro </h1>
        </div>
        <!-- <div class="">
            <h1 class="heading">Today</h1>
        </div> -->
        <div class="HeaderLinks">
            <a class="" href="/">📆Today</a>
            <a class="" href="/weekly">📆This Week</a>
            <a class="" href="/monthly">📆This Month</a>
        </div>
    </div>
    <main>